# Database Configuration
MONGODB_URI=mongodb+srv://InternHub_Hardik:LtGNpooHIpdtjBMa@cluster0.7kam1.mongodb.net/globetrotter?retryWrites=true&w=majority&appName=Cluster0


# Server Configuration
PORT=5000

# Admin Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# JWT Configuration
JWT_SECRET=e7f42e6cb96bb86b138d4937843dca32c52a5dbee3e2917ff36236a76616d09ad680a00c2860fdbc408b86739fc904fd8c723f729e7fbc0825e416033f8d8fbf


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# SendGrid Configuration
SENDGRID_API_KEY=SG.dummy_key_for_development_testing_only

EMAIL_FROM=campus.creations.team@gmail.com

# Foursquare API Configuration
FOURSQUARE_API_KEY=your_foursquare_api_key


# Client Configuration
CLIENT_URL=http://localhost:3000

# Travel APIs Configuration
GEMINI_API_KEY=AIzaSyA7viRivCMDqcnlCyHRREr3FCsa8r0jg4k
FOURSQUARE_API_KEY=AIOG2K55VNEJMZ2RS3I2WS03GZ1WFYJBEESH3C2FKF41DTDU
OPENTRIPMAP_API_KEY=your_opentripmap_api_key_here
AMADEUS_CLIENT_ID=your_amadeus_client_id_here
AMADEUS_CLIENT_SECRET=your_amadeus_client_secret_here

# Optional Paid APIs (for later)
SKYSCANNER_API_KEY=your_skyscanner_api_key_here
BOOKING_API_KEY=your_booking_api_key_here
